__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
venv/
.env

src/bin/
src/aws_lambda_powertools/
src/aws_xray_sdk/
src/boto3/
src/botocore/
src/dateutil/
src/jmespath/
src/PIL/
src/Pillow*
src/s3transfer/
src/urllib3/
src/wrapt*
src/six.py
src/typing_extensions.py
src/*.dist-info/
src/*.egg-info/

.terraform/
*.tfstate
*.tfstate.backup
crash.log
*.tfvars
override.tf
override.tf.json
.terraform.lock.hcl
lambda_pkg.zip

.DS_Store
.idea/
.vscode/